body ,.bg{
  background-color: #D8F9FF !important;
}
.bg-card{
  background-color: #D8F9FF !important;
  border:none !important;
}


.cards{
  background-color: #00A3FE !important;
  border-radius: 12px !important;
  color:#fff !important;
  font-size: 13px ;
  border: 2px solid rgba(0,0,0,.1) !important ;
  
}

.card-body{
  padding: 10px !important;
}
.question{
  height: 180px !important;
}
.options{
  height: 150px;
  padding:10px;
}
.options > li{
  list-style:none;
  margin-bottom: 5px;
}

.option{
  font-size: 11px;
  background-color: #0491F3;
  border-radius: 10px;
  border: 1px solid #0491F3;
  padding: 5px;
  margin-bottom: 0px;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color:#0074D9;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition:all 0.3s ease;
}
.block:hover{
  box-shadow:
  2px 2px #53a7ea,
  4px 4px #53a7ea,
  5px 5px #53a7ea;
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}

.icons{
  color:white;
}